/* Global Fixed Positioning */
body > .pp_pic_holder.pp_default {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  z-index: 99999 !important;
  box-sizing: border-box !important;
}
